body{
    background-image: url(img/1398141-ragnarok-online-wallpaper-1920x1080-high-resolution.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
     min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.footer {
    background-color: #5d54a5;
    color:black;
    text-align: center;
    padding: 1px;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 15px;
    opacity: 0.7;
  }
.hover {
      color: #fff;
      text-align: center;
      transition: transform 0.3s ease-in-out;
}  
.hover:hover {
    transform: scale(1.2);
}
.icon {
    width: 22px;
      height: 22px;
}
.server{
    color: cornflowerblue;
}
header {
    background-color: #9aacdd;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: auto;
    opacity: 0.9;
  } 
  .logo {
    font-size: 1.5em;
    width: 100px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
    animation: jumpAnimation 1s infinite alternate
  }
  @keyframes jumpAnimation {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-20px);
    }
  }
  .logo-img{
    width: 100px;
    height: 100%;
  }
  .menu {
    display: flex;
  }
  
  .menu-item {
    margin-right: 20px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
    
  }
  .menu-item:hover {
    transform: scale(1.2);
    color: aqua;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #333;
    color: #fff;
    padding: 10px;
    z-index: 1;
  }
  .icon{
    text-decoration: none;
    color: white;

  }
  .dropdown:hover .dropdown-content {
    display: block;
  }
  .padding{
    padding-right: 30px;
  }
  .lines{
    text-decoration: none;
    color: white;
    transition: transform 0.3s ease-in-out;
  }
  .lines:hover {
    color: rgb(213, 11, 159);
  }
  